.header {
}
.container {
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
}
.header-icon {
}

.nav,
.header__btn {
  display: none;
}

.nav__list {
}
.nav__item {
}
.nav__link {
}

.header__btn {
}

.btn-login {
}
.btn-register {
}
.menu-nav {
}
.btn-menu {
}
.menu-icon {
}
