.header {
}
.container {
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #030718;
}

.header-logo {
}
.header-icon {
  width: 130px;
  height: 52px;
}

.nav,
.header__btn {
  display: none;
}

.nav__list {
}
.nav__item {
}
.nav__link {
}

.header__btn {
}

.btn-login {
}
.btn-register {
}
.menu-nav {
}

.btn-menu {
  fill: var(--white);
}

.menu-icon {
}
