.tradeblade .container {
  padding: 56px 16px 71px 16px;
  display: grid;
  gap: 40px;
  position: relative;
}

.tradeblade__title {
  font-size: 28px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.tradeblade__list {
  display: grid;
  gap: 32px;
}

.tradeblade__item {
  display: flex;
  gap: 32px;
}

.tradeblade__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.04em;
  margin-bottom: 8px;
}

.tradeblade__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  opacity: 0.8;
}

.tradeblade__bookmark {
  width: 282px;
  height: 27px;
  position: absolute;
  top: 97%;
  left: 0;
}

@media (min-width: 1440px) {
  .tradeblade .container {
    padding: 96px 80px 156px;
    display: flex;
    gap: 128px;
  }

  .tradeblade__title {
    font-size: 44px;
    line-height: 1.27;
  }

  .tradeblade__list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 21px;
  }

  .tradeblade__item {
    width: 410px;
  }

  .tradeblade__item-title-text {
    width: 320px;
  }

  .tradeblade__item-title {
    font-size: 28px;
    line-height: 1.29;
    width: 309px;
  }

  .tradeblade__text {
    font-size: 16px;
    line-height: 1.25;
  }

  .tradeblade__bookmark {
    width: 650px;
    top: 94%;
  }
}
