<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="./index.html" class="header-logo">
        <svg class="header-icon">
          <use href="/public/LogoMobile.svg"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#about">ЦИФРЫ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#my-projects">СДЕЛКИ ОНЛАЙН</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">О КОМПАНИИ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">КАК НАЧАТЬ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">ТАРИФЫ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">ОТЗЫВЫ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">FAQ</a>
          </li>
        </ul>
      </nav>

      <div class="header__btn">
        <button type="button" class="btn-login">ВХОД</button>
        <button type="button" class="btn-register">РЕГИСТРАЦИЯ</button>
      </div>

    <nav class="menu-nav">
      <button class="btn-menu" type="button" data-menu-open>
        <svg Class="menu-icon" width="32" height="32">
          <use href="/img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
