<section class="numbers">
  <div class="container">
    <h2 class="numbers__title">ЦИФРЫ</h2>
    <p class="numbers__title-text">Cентябрь 2022</p>

    <ul class="numbers__list">
      <li class="numbers__item">
        Торговой прибыли <span class="numbers__item-span">2756%</span>
      </li>
      <li class="numbers__item">
        фьючерсных и спотовых сделок
        <span class="numbers__item-span">67</span>
      </li>
      <li class="numbers__item">
        прибыль подписчиков <span class="numbers__item-span">375000</span>
      </li>
    </ul>
  </div>
</section>
