:root {
  --purple: #6a54ff;
  --q: #57e1ff;
  --white: #ffffff;
  --black-blue: #030718;
  --neon-mint: #35ff9e;
  --black: #000;
  --dark-indigo: #201a4f;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: var(--black-blue);
}

@media (min-width: 1440px) {
  .container {
    padding: 0 80px;
    min-width: 1440px;
  }

  .container__about-company-free {
    display: flex;
    justify-content: space-between;
    padding: 56px 80px 92px 80px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
}
